name: Java CI with Gradle
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: read
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        version: [ 'Lab1', 'Lab2', 'Lab3' ]
    steps:
      - uses: actions/checkout@main
      - name: Set up JDK 21
        uses: actions/setup-java@main
        with:
          java-version: '21'
          distribution: temurin
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@main
      - name: Build with Gradle
        run: ./gradlew :app${{matrix.version}}:build
      - name: Upload Artifact
        uses: actions/upload-artifact@v3.1.3
        with:
          name: compiled-artifact
          path: ./app${{matrix.version}}/build/libs/*.jar